<html>
<head></head>
<body>
    <h3> Students Details </h3>
    <form action="/student_detail" method="post">
        name:
        <input type="text" name="student_name"> <br><br>
        roll_no :
        <input type="text" name="student_rollno"> <br><br>
        subject1
        <input type="text" name="sub_1"> <br><br>
        subject2
        <input type="text" name="sub_2"> <br><br>
        subject3
        <input type="text" name="sub_3"> <br><br>

        <input type="submit" value="Enter">
    </form>
</body>







</html>